<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1.jpg"
        alt="..."
      /></div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Welcome to University of Greenwich</h1>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is
        a great place to showcase some important information or display a clever
        tagline!</p></div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">
            Faculty of Information Technology</h2>
          <p class="card-text">ABCD</p>
        </div>
        <div class="card-footer"><a
            class="btn btn-primary btn-sm"
            href="#!"
          >More Info</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Faculty of graphic design</h2>
          <p class="card-text">Price </p>
        </div>
        <div class="card-footer"><a
            class="btn btn-primary btn-sm"
            href="#!"
          >More Info</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Faculty business management</h2>
          <p class="card-text">price </p>
        </div>
        <div class="card-footer"><a
            class="btn btn-primary btn-sm"
            href="#!"
          >More Info</a></div>
      </div>
    </div>
  </div>
</div>