<form action="/articles/articlesC" method="post" enctype="multipart/form-data">
  <input type="file" name="file" />
  <button>gui</button>
</form>

<img
  src="\public\1710432325386-pngtree-elephant-png-image_3028611.jpg"
  alt="..."
  style="border :2px solid white ; width: 140px; height: 90px; margin-right: 500px"
/>