<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <img
      src="/assets/logo.jpeg"
      alt="..."
      style="border :2px solid white ; width: 120px; height: 90px; margin-right: 500px"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item"><a
            class="nav-link active"
            aria-current="page"
            href="/"
          >Home</a></li>
        {{#if admin}}
          <li class="nav-item"><a
              class="nav-link"
              href="/admin"
              style="color: aqua;"
            >Dash Board</a></li>
        {{/if}}
        {{#if student}}
         <li class="nav-item"><a
              class="nav-link"
              href="/articles"
              style="color: aqua;"
            >Ariticles</a></li>
          <li>
        {{/if}}
         {{#if coordinator}}
         <li class="nav-item"><a
              class="nav-link"
              href="/coordinator"
              style="color: aqua;"
            >Coordinator</a></li>
          <li>
        {{/if}}
        {{#if user}}
          <li class="nav-item"><a
              class="nav-link"
              href="/users/find"
              style="color: aqua;"
            >{{name}}</a></li>
          <li>
            <img src="/{{img}}" alt="..." style="height: 40px; " />
          </li>
          <li class="nav-item"><a
              class="nav-link"
              href="/users/logout"
            >Logout</a></li>
        {{else}}
          <li class="nav-item"><a
              class="nav-link"
              href="/users/login"
            >Login</a></li>
          <li class="nav-item"><a
              class="nav-link"
              href="/users/register"
            >Register</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>